# Entorno virtual
.venv/
# Archivos temporales
__pycache__/
*.pyc
# Datos grandes
data/
# Configuraciones locales
.ipynb_checkpoints/

.DS_Store

# Ignorar todos los archivos HTML y PNG generados
*.html
*.png